<h5><a class="logout" href="/logout">Logout</a></h5>
<h3>Are you sure you want to delete this task?</h3>

<form method="post" action="/task_removed"> 

	<input type="hidden" name="task_id" value="<%= @task_id %>">

	<input class="submit" type="submit" value="Delete Task">

</form>