<h3>Are you sure you want to edit this list?</h3>

<h3><%= @list.title %></h3>

<form action="/list/<%= @list_id %>/edit" method="post">

<input type="text" placeholder="Enter List Title" name="title">

<input type="text" placeholder="Enter Description" name="body">

<input type="hidden" name="list_id" value="<%= @list_id %>">

<input class="submit" type="submit" value="Update This List!">