<h3>Are you sure you want to edit this task?

<blockquote><%= @task.title %></blockquote>

</h3>
<form action="/task/<%= @task_id %>/edit" method="post">

<input type="text" placeholder="Enter List Title" name="title">

<input type="text" placeholder="Enter Description" name="description">

<input type="hidden" name="task_id" value="<%= @task_id %>">

<input class="submit" type="submit" value="Update This Task!">