body {
	text-align: center;
	width: 600px;
	font-family: "Avenir";
	margin: auto;
}

a{
	color: inherit;
	text-decoration: none;
}

input,
textarea{
	margin: 18px auto;
	display: block;
}

small{
	font-weight: lighter;
}

ul {
	text-decoration: none;
	list-style: none;
}