.signup, .nav {
	color: #0bc8a2;
	text-decoration: underline;
}

.nav {
	display: inline-block;
}

input {
	width: 450px;
	height: 50px;
	font-size:30px;
	text-align: center;
	color: #0bc8a2;
	vertical-align: center;
}

body {
	text-align: center;
	width: 500px;
	font-family: 'Source Sans Pro', sans-serif;
	margin: auto;
}

.logo, .logout {
	display: inline-block;
}

a {
	color: inherit;
	text-decoration: none;
}

h5 {
	text-align: right;
}

label {
	font-size: 20px;
}

input, textarea{
	margin: 18px auto;
	display: block;
}

small{
	font-weight: lighter;
}

ul {
	text-decoration: none;
	list-style: none;
}

footer {
	margin-top: 15em;
}

table img {
	width: 25px;
}

table {
	border-spacing: 0.5em;
}

td {
	padding: 0.5em;
}

td:nth-child(1) {
	background: hsl(150, 50%, 50%); 
}

td:nth-child(2) {
	background: hsl(160, 60%, 50%); 
}

td:nth-child(3) {
	background: hsl(170, 70%, 50%); 
}

td:nth-child(4) {
	background: hsl(180, 80%, 50%); 
}

.submit {
	font-family:'Source Sans Pro', sans-serif;
	width:455px;
	height: 60px;
	background: #0bc8a2;
	padding: 8px 14px 10px;
	border:1px solid #3e9cbf;
	cursor:pointer;
	font-size:2em;
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	color: #fff;
}

/* Still need to read up on this stuff, not entirely sure how everything works */
.submit:hover, .submit:focus {
	color:#fff;
	background: #0AB08F;
	/*reduce the size of the shadow to give a pushed effect*/
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
